<!DOCTYPE html>
<html>
  <head>
    <title>Vue.js</title>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  </head>
  <body>
    <div id="app">
  	<ul class="nav nav-tabs" id="menu">
      <li role="presentation" v-if="$route.path == '/'" class="active"><a v-link="{ path: '/' }">Home{{a}}</a></li>
      <li role="presentation" v-else class=""><a v-link="{ path: '/' }">Home{{a}}</a></li>
      <li role="presentation" v-if="$route.path == '/users'" class="active"><a v-link="{ path: '/users' }">Usuarios</a></li>
      <li role="presentation" v-else class=""><a v-link="{ path: '/users' }">Usuarios</a></li>
      <li role="presentation" v-if="$route.path == '/posts'" class="active"><a v-link="{ path: '/posts' }">Posts</a></li>
      <li role="presentation" v-else class=""><a v-link="{ path: '/posts' }">Posts</a></li>
    </ul>
    <div id="example">
  
</div>
	  <router-view></router-view>
	</div>

  </body>
  <script src="/javascripts/vue.min.js"></script>
  <script src="/javascripts/vue-router.min.js"></script>
  <script src="/javascripts/vue-resource.min.js"></script>
  <script src="/javascripts/index.js"></script>
</html>
